/* BASIC CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    font-family: "Merriweather", serif;
}

h2,
p,
hr,
form,
footer {
    max-width: 560px;
    margin: auto;
}

/* HEADER STYLES */
header {
    text-align: center;
}

h1 {
    background-color: #2b2121;
    color: whitesmoke;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 1.1rem;
    padding: 1.4rem 1rem 0.75rem;
}

p {
    font-size: 0.9rem;
    color: #a8a8a8;
    font-weight: 300;
    padding: 0 1rem 2rem;
    border-bottom: 3px solid #2b2121;
    margin-bottom: 0.2rem;
}

/* FORM STYLES */
fieldset {
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
}

button:hover {
    cursor: pointer;
}
